@model spellScrollBackend.Models.Spell

@{
    ViewData["Title"] = "Details";
    var classes = Newtonsoft.Json.JsonConvert.DeserializeObject<string[]>(Model.Classes);
}

<style>
    #menu {
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    #classFilter, #levelFilter {
        padding: 0;
        height: 2rem;
        width: 8rem;
    }

    .p-8 {
        padding: 2rem;
    }

    .p-4 {
        padding: 1rem;
    }

.spell-item {
    font-size: 10pt;
    box-sizing: border-box;
    vertical-align: top;
    page-break-inside: avoid;
    display: inline-block;
    border: none;
}

.level {
    padding: 0.1em 1em 0.1em 1em;
    box-sizing: border-box;
    background: rgb(124, 25, 236);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font-size: 15pt;
}

.spell-body {
    margin: 0;
    padding: 0.1em 0.2em 0.1em 0.7em;
    border-radius: 10 px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.long-spell {
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    font-size: 13.5pt;
}

.name {
    font-variant: small-caps;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0.2em;
}

    .name img {
        height: 1em;
        margin-bottom: 0.1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        user-select: none;
    }

    .name p {
        margin-top: 0;
        margin-bottom: 0.1em;
    }

.school {
    font-variant: normal;
    font-size: 8pt;
    font-style: italic;
    text-align: right;
    white-space: nowrap;
    flex-grow: 1;
    margin-right: 0.2em;
}

.known {
    height: 1.5em;
}

    .known img {
        user-select: none;
        max-height: 100%;
    }

.details {
    margin-top: 0.1em;
    margin-right: 0.4em;
}

.meta {
    display: flex;
    flex-wrap: wrap;
}

.meta-item {
    flex-grow: 1;
    display: flex;
    font-size: 9.5pt;
    height: 1.2em;
    margin: 1%;
}

    .meta-item img {
        max-height: 100%;
        user-select: none;
    }

.meta-content {
    flex-grow: 1;
    margin: auto;
    margin-left: 0.5em;
}

.description {
    font-size: 10pt;
}

    .description p {
        margin: 0;
        padding-top: 0.3em;
        padding-bottom: 0.4em;
    }

    .description ul {
        padding-left: 1.5em;
    }

.long-spell .description {
    column-count: 2;
    padding-bottom: 0.4em;
}

.separator {
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 28.734cm;
    background: red;
}

footer {
    background: gray;
    color: white;
    padding: 15px;
}

    footer p {
        font-family: "Gill Sans", "sans-serif";
        font-size: 12pt;
        margin: 0;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    .center{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

</style>

<div>
    <div class="pb-4 center">
    <h4 class="max-w-2xl text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white dark:bg-gray-900 h-full">@Html.DisplayFor(model => model.SpellName)</h4>

    <div>
        <a id="favoriteSpell" onclick="createFavoriteSpell('@Model.Id')">
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                 xmlns:cc="http://creativecommons.org/ns#"
                 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:svg="http://www.w3.org/2000/svg"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 version="1.1"
                 x="0px"
                 y="0px"
                 viewBox="0 0 100 100"
                 enable-background="new 0 0 100 100"
                 xml:space="preserve"
                 id="svg12"
                 sodipodi:docname="unknown.svg"
                 width="100"
                 height="100"
                 inkscape:version="0.92.1 r15371"
                 inkscape:export-filename="C:\Projects\SpellParser\site\img\unknown.png"
                 inkscape:export-xdpi="245.75999"
                 inkscape:export-ydpi="245.75999"><metadata id="metadata18"><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs id="defs16" /><sodipodi:namedview pagecolor="#ffffff"
                bordercolor="#666666"
                borderopacity="1"
                objecttolerance="10"
                gridtolerance="10"
                guidetolerance="10"
                inkscape:pageopacity="0"
                inkscape:pageshadow="2"
                inkscape:window-width="1920"
                inkscape:window-height="1017"
                id="namedview14"
                showgrid="false"
                inkscape:zoom="5.3400704"
                inkscape:cx="66.312216"
                inkscape:cy="41.876687"
                inkscape:window-x="1912"
                inkscape:window-y="-8"
                inkscape:window-maximized="1"
                inkscape:current-layer="svg12" /><g id="g6"
                transform="matrix(1.0748795,0,0,1.0748795,-3.7434377,-3.7450499)"><path d="m 79.893,11.482 h -0.189 v -0.859 c 0,-2.654 -2.16,-4.813 -4.816,-4.813 H 19.849 c -2.655,0 -4.814,2.159 -4.814,4.813 v 73.28 0 c 0,0.805 0.217,1.551 0.567,2.219 v 2.998 c 0,2.797 2.275,5.072 5.072,5.072 h 59.218 c 2.797,0 5.072,-2.275 5.072,-5.072 V 16.554 c 0.001,-2.797 -2.275,-5.072 -5.071,-5.072 z m -5.006,74.401 h -4.73 l 6.711,-6.711 v 4.73 c -10e-4,1.092 -0.889,1.981 -1.981,1.981 z M 76.867,75.164 66.148,85.883 H 28.969 V 8.643 h 37.162 l 10.517,10.517 0.219,-0.219 z m 0,-64.541 v 4.748 L 70.138,8.643 h 4.748 c 1.093,0 1.981,0.888 1.981,1.98 z m -58.997,0 c 0,-1.092 0.888,-1.979 1.979,-1.979 h 6.284 v 77.24 h -6.284 c -1.092,0 -1.979,-0.889 -1.979,-1.98 z m 64.261,78.496 c 0,1.234 -1.004,2.238 -2.238,2.238 H 20.674 c -1.234,0 -2.238,-1.004 -2.238,-2.238 V 88.48 c 0.45,0.139 0.918,0.236 1.413,0.236 h 55.038 c 0.996,0 1.922,-0.305 2.691,-0.824 1.281,-0.865 2.125,-2.33 2.125,-3.99 v 0 -69.586 h 0.189 c 1.234,0 2.238,1.004 2.238,2.238 v 72.565 z"
                id="path2"
                inkscape:connector-curvature="0" /><path d="m 51.352,30.262 c -9.134,0 -16.566,7.432 -16.566,16.566 0,9.134 7.432,16.566 16.566,16.566 9.135,0 16.566,-7.432 16.566,-16.566 0,-9.134 -7.432,-16.566 -16.566,-16.566 z m 12.275,10.447 h -7.736 l -2.414,-7.432 c 4.455,0.697 8.199,3.534 10.15,7.432 z m -16.71,10.024 2.214,1.609 -3.583,2.602 z m -1.491,-4.587 -3.582,-2.603 h 4.428 z m 2.411,1.752 1.415,-4.354 h 4.578 l 1.416,4.354 -3.705,2.691 z m 3.704,-11.4 1.369,4.212 h -2.737 z m 4.625,14.235 1.369,4.21 -3.582,-2.602 z m 0.645,-7.19 h 4.428 l -3.582,2.603 z m -7.184,-10.327 -2.435,7.493 h -8.116 c 2.01,-4.014 5.921,-6.908 10.551,-7.493 z M 37.62,46.829 c 0,-0.91 0.094,-1.798 0.264,-2.659 l 6.622,4.812 -2.547,7.837 C 39.295,54.313 37.62,50.766 37.62,46.829 Z m 7.259,12.105 6.662,-4.84 6.496,4.719 c -1.98,1.109 -4.258,1.748 -6.686,1.748 -2.339,0 -4.542,-0.59 -6.472,-1.627 z m 16.16,-2.381 -2.461,-7.572 6.279,-4.563 c 0.141,0.785 0.227,1.588 0.227,2.411 0,3.796 -1.549,7.235 -4.045,9.724 z"
                id="path4"
                inkscape:connector-curvature="0" /></g></svg>
        </a>
        <input type="hidden" id="spellId" value="@Model.Id" />
        </div>
    </div>
    <hr />

    <div data-classes="@string.Join(",", Model.Classes)" data-level="@Model.Level" class="grid-item spell-item p-4 spellRow">
      
            <div class="spell-body">
                <div class="title">
                    <div class="name">
                        <p>
                            @Html.DisplayFor(modelItem => Model.SpellName)
                        </p>

                        <p class="school">
                            @Html.DisplayFor(modelItem => Model.School)
                            @Html.DisplayFor(modelItem => Model.Level)
                        </p>
                    </div>
                </div>
                <div class="details">
                    <div class="meta">
                        <div class="meta-item">
                            <?xml version="1.0" encoding="utf-8" ?>
                            <svg version="1.1" id="designs" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 32 32" xml:space="preserve">
                            <path class="sketchy_een" d="M18.501,17.722c0.535-0.515,1.047-1.052,1.578-1.573c0.994-0.975,1.99-1.951,3.003-2.909
	                            c0.455-0.434,0.914-0.865,1.365-1.303c0.436-0.423,0.887-0.839,1.26-1.322c0.112-0.146,0.12-0.399,0.073-0.569
	                            c-0.026-0.095-0.074-0.183-0.135-0.26c0.036-0.24-0.03-0.491-0.203-0.688c-0.176-0.202-0.356-0.388-0.554-0.567
	                            C24.678,8.34,24.487,8.14,24.3,7.928c-0.431-0.483-0.876-0.953-1.312-1.43c-0.147-0.161-0.354-0.237-0.562-0.237
	                            c-0.021,0-0.04,0.01-0.061,0.012c-0.12-0.076-0.25-0.127-0.386-0.127c-0.194,0-0.388,0.075-0.541,0.216
	                            c-0.451,0.416-0.886,0.85-1.331,1.273c-0.541,0.515-1.103,1.003-1.661,1.5c-1.153,1.022-2.293,2.056-3.4,3.127
	                            c-0.547,0.534-1.103,1.056-1.668,1.569c-0.605,0.55-1.183,1.125-1.764,1.702c-0.565,0.562-1.14,1.116-1.707,1.677
	                            c-0.578,0.571-1.14,1.155-1.713,1.732c-0.504,0.509-1.017,1.011-1.52,1.522c-0.489,0.498-0.968,1.007-1.458,1.507
	                            c-0.444,0.449-0.906,0.878-1.346,1.329c-0.543,0.556-1.073,1.121-1.578,1.709c-0.113,0.13-0.179,0.274-0.213,0.434
	                            c-0.129,0.289-0.097,0.656,0.15,0.875c0.313,0.279,0.625,0.558,0.929,0.846c0.294,0.277,0.571,0.569,0.852,0.859
	                            c0.515,0.534,1.054,1.045,1.565,1.582c0.248,0.262,0.653,0.276,0.948,0.093c0.163-0.025,0.322-0.086,0.446-0.209
	                            c0.569-0.563,1.121-1.14,1.677-1.717c0.53-0.55,1.075-1.088,1.621-1.621c0.55-0.541,1.078-1.103,1.616-1.659
	                            c0.535-0.554,1.091-1.088,1.623-1.644c1.099-1.153,2.172-2.335,3.299-3.462C17.363,18.827,17.93,18.273,18.501,17.722z
	                             M19.968,9.784c0.476-0.416,0.934-0.85,1.393-1.284c0.227-0.214,0.452-0.427,0.677-0.642c0.373,0.385,0.756,0.761,1.124,1.151
	                            c0.191,0.204,0.367,0.421,0.573,0.612c0.167,0.155,0.323,0.316,0.48,0.481c-0.311,0.342-0.638,0.666-0.967,0.993
	                            c-0.498,0.492-0.996,0.987-1.494,1.479c-0.697,0.688-1.402,1.368-2.106,2.048c-0.062-0.069-0.124-0.138-0.186-0.208
	                            c-0.217-0.242-0.431-0.485-0.646-0.728c-0.471-0.531-0.943-1.06-1.415-1.588C18.246,11.316,19.102,10.544,19.968,9.784z
	                             M11.9,22.444c-0.505,0.496-1.013,0.988-1.507,1.492c-0.481,0.494-0.979,0.968-1.479,1.442c-0.49,0.466-0.975,0.936-1.462,1.406
	                            c-0.427,0.409-0.851,0.819-1.275,1.231c-0.085-0.09-0.171-0.178-0.258-0.266c-0.271-0.275-0.547-0.547-0.818-0.82
	                            c-0.399-0.402-0.811-0.793-1.221-1.185c0.428-0.499,0.858-0.996,1.294-1.489c0.5-0.565,1.03-1.101,1.548-1.649
	                            c1.131-1.196,2.29-2.363,3.426-3.552c0.541-0.565,1.097-1.112,1.657-1.657c0.588-0.577,1.172-1.159,1.758-1.735
	                            c0.556-0.549,1.153-1.056,1.726-1.589c0.317-0.295,0.631-0.594,0.945-0.893c0.492,0.536,0.988,1.068,1.489,1.597
	                            c0.223,0.236,0.447,0.47,0.665,0.71c0.059,0.064,0.111,0.132,0.165,0.199c-0.021,0.021-0.044,0.042-0.065,0.063
	                            c-1.097,1.095-2.207,2.177-3.293,3.284C14.087,20.16,13.029,21.338,11.9,22.444z M6.218,7.437C6.475,7.644,6.724,7.863,6.972,8.08
	                            c0.195,0.172,0.412,0.322,0.629,0.464C7.683,8.598,7.771,8.647,7.855,8.7c0.016,0.096,0.047,0.19,0.094,0.283
	                            c0.14,0.281,0.27,0.567,0.421,0.842c0.133,0.243,0.281,0.481,0.423,0.717s0.301,0.466,0.425,0.71c0.122,0.24,0.24,0.494,0.432,0.689
	                            c0.157,0.159,0.35,0.213,0.567,0.236c0.212,0.024,0.412-0.112,0.564-0.238c0.114-0.097,0.206-0.275,0.298-0.401
	                            c0.137-0.189,0.277-0.371,0.388-0.578c0.21-0.393,0.481-0.753,0.676-1.155c0.096-0.195,0.185-0.395,0.281-0.592
	                            c0.016-0.033,0.02-0.066,0.032-0.099c0.146-0.098,0.293-0.196,0.439-0.295c0.154-0.103,0.316-0.193,0.47-0.296
	                            c0.142-0.094,0.286-0.184,0.434-0.268c0.191-0.112,0.361-0.234,0.537-0.371c-0.051,0.039-0.101,0.079-0.154,0.118
	                            c0.062-0.047,0.122-0.09,0.191-0.124c0.182-0.085,0.291-0.269,0.336-0.466c0.129-0.1,0.237-0.23,0.283-0.397
	                            c0.112-0.41-0.135-0.858-0.549-0.966c-0.283-0.075-0.571-0.142-0.845-0.242C13.465,5.743,13.337,5.67,13.21,5.59
	                            c-0.167-0.107-0.341-0.197-0.519-0.283c-0.149-0.07-0.292-0.15-0.427-0.244c-0.031-0.028-0.06-0.058-0.088-0.09
	                            c-0.249-0.352-0.449-0.74-0.622-1.135c-0.081-0.198-0.151-0.401-0.219-0.604c-0.105-0.303-0.242-0.563-0.462-0.797
	                            c-0.137-0.147-0.327-0.217-0.518-0.217c-0.126,0-0.247,0.041-0.359,0.101C9.744,2.339,9.497,2.458,9.377,2.692
	                            C9.166,3.104,8.941,3.517,8.759,3.944C8.608,4.299,8.474,4.661,8.33,5.018C8.326,5.027,8.321,5.036,8.317,5.045
	                            C8.28,5.065,8.242,5.085,8.204,5.103C8.006,5.18,7.804,5.249,7.606,5.33C7.333,5.442,7.048,5.508,6.762,5.583
	                            C6.391,5.678,5.976,5.859,5.785,6.21C5.605,6.539,5.65,7,5.955,7.245C6.042,7.314,6.13,7.373,6.218,7.437z M10.58,10.675
	                            c-0.01-0.024-0.02-0.048-0.031-0.072c-0.002-0.005-0.004-0.009-0.006-0.014c0.016,0.037,0.031,0.073,0.046,0.109
	                            C10.586,10.69,10.583,10.683,10.58,10.675z M8.426,6.593C8.662,6.511,8.9,6.434,9.125,6.324c0.197-0.095,0.333-0.245,0.455-0.421
	                            c0.079-0.114,0.116-0.26,0.17-0.387c-0.026,0.06-0.051,0.12-0.077,0.18c0.11-0.256,0.206-0.517,0.312-0.774
	                            c0.072-0.161,0.156-0.317,0.237-0.474c0.027,0.07,0.05,0.141,0.08,0.21c0.15,0.343,0.311,0.678,0.494,1.004
	                            c0.133,0.24,0.273,0.479,0.464,0.682c0.242,0.255,0.596,0.366,0.919,0.491c0.192,0.088,0.379,0.187,0.57,0.279
	                            c-0.012,0.007-0.023,0.013-0.035,0.02c-0.161,0.101-0.328,0.193-0.492,0.288c-0.253,0.146-0.496,0.307-0.741,0.468
	                            c-0.269,0.175-0.418,0.476-0.38,0.777c-0.168,0.349-0.331,0.698-0.538,1.027c-0.09,0.145-0.17,0.294-0.25,0.442
	                            c-0.08-0.137-0.155-0.279-0.237-0.416c-0.172-0.298-0.363-0.592-0.5-0.906c0.026,0.06,0.052,0.122,0.077,0.183
	                            C9.55,8.751,9.444,8.508,9.328,8.267C9.309,8.038,9.196,7.819,8.988,7.696c-0.302-0.177-0.595-0.38-0.877-0.587
	                            c-0.106-0.087-0.206-0.182-0.31-0.274C7.8,6.834,7.799,6.834,7.799,6.833C8.01,6.757,8.215,6.668,8.426,6.593z M4.784,17.533
	                            c0.183,0.144,0.365,0.228,0.584,0.309c0.258,0.092,0.556,0.125,0.829,0.12c0.217-0.004,0.444-0.043,0.655-0.097
	                            c0.326-0.086,0.616-0.238,0.861-0.474C8.1,17.02,8.3,16.443,8.321,15.914c0.006-0.185-0.022-0.371-0.049-0.554
	                            c-0.021-0.137-0.049-0.271-0.097-0.401c-0.066-0.168-0.135-0.333-0.232-0.485c-0.148-0.23-0.358-0.41-0.597-0.537
	                            c-0.041-0.022-0.084-0.041-0.127-0.06c-0.083-0.036-0.161-0.066-0.241-0.084c-0.035-0.03-0.073-0.057-0.113-0.081
	                            c-0.113-0.067-0.266-0.113-0.411-0.113c-0.067,0-0.133,0.01-0.191,0.032c-0.513,0.202-1.005,0.406-1.404,0.798
	                            c-0.223,0.219-0.352,0.498-0.47,0.781c-0.065,0.157-0.12,0.316-0.152,0.483c-0.096,0.505-0.064,1.033,0.228,1.473
	                            C4.554,17.303,4.655,17.432,4.784,17.533z M6.69,16.351c-0.006,0.004-0.012,0.009-0.018,0.013c0.006-0.005,0.013-0.01,0.019-0.015
	                            C6.691,16.35,6.69,16.35,6.69,16.351z M6.697,16.346c0.001-0.001,0.001-0.001,0.002-0.002c0.008-0.006,0.016-0.012,0.024-0.019
	                            C6.714,16.333,6.705,16.339,6.697,16.346z M6.669,15.301L6.669,15.301C6.668,15.301,6.668,15.301,6.669,15.301l-0.001,0h0
	                            C6.668,15.301,6.668,15.301,6.669,15.301z M6.658,15.297L6.658,15.297c-0.003-0.001-0.006-0.002-0.009-0.004
	                            C6.652,15.294,6.655,15.296,6.658,15.297z M5.734,16.051c0.02-0.1,0.045-0.197,0.078-0.293c0.038-0.079,0.08-0.155,0.126-0.228
	                            c0.024-0.025,0.048-0.048,0.073-0.071c0.131-0.085,0.267-0.156,0.409-0.22c0.015-0.006,0.03-0.012,0.046-0.017
	                            c0.041,0.022,0.085,0.041,0.13,0.056c0.029,0.015,0.057,0.03,0.085,0.047c0.022,0.038,0.043,0.077,0.063,0.116
	                            c0.037,0.109,0.065,0.22,0.087,0.333c0.004,0.068,0.005,0.135,0.001,0.203c-0.019,0.09-0.044,0.178-0.074,0.266
	                            c-0.013,0.023-0.026,0.045-0.039,0.067C6.69,16.337,6.66,16.365,6.63,16.392c-0.002,0.001-0.005,0.003-0.007,0.004
	                            c-0.09,0.028-0.18,0.049-0.273,0.066c-0.086,0.007-0.171,0.01-0.257,0.006c-0.101-0.021-0.2-0.048-0.298-0.083l-0.001,0
	                            c-0.011-0.019-0.022-0.038-0.033-0.057c-0.011-0.036-0.021-0.071-0.03-0.108C5.729,16.164,5.73,16.107,5.734,16.051z M16.391,5.969
	                            c0.386,0.404,0.972,0.577,1.518,0.586c0.348,0.006,0.719-0.14,0.994-0.352c0.11-0.084,0.217-0.165,0.315-0.262
	                            c0.101-0.101,0.185-0.225,0.266-0.343c0.082-0.125,0.146-0.264,0.21-0.401c0.054-0.12,0.105-0.242,0.152-0.365
	                            c0.069-0.187,0.082-0.404,0.096-0.601c0.024-0.403-0.067-0.783-0.268-1.133c-0.157-0.275-0.401-0.481-0.653-0.663
	                            c-0.023-0.017-0.047-0.031-0.073-0.043c-0.122-0.116-0.32-0.222-0.497-0.222c-0.017,0-0.034,0.001-0.051,0.003
	                            c-0.507,0.069-1.007,0.137-1.468,0.378c-0.182,0.095-0.35,0.247-0.489,0.401c-0.114,0.127-0.228,0.277-0.311,0.432
	                            c-0.182,0.344-0.262,0.685-0.307,1.069c-0.026,0.227-0.004,0.451,0.047,0.676C15.942,5.447,16.17,5.739,16.391,5.969z M18.061,4.968
	                            c-0.016,0.007-0.031,0.013-0.047,0.019c0.016-0.007,0.032-0.014,0.048-0.02C18.062,4.967,18.061,4.967,18.061,4.968z M18.065,4.966
	                            c0.001,0,0.001-0.001,0.002-0.002c0.01-0.004,0.021-0.009,0.031-0.013C18.087,4.956,18.076,4.961,18.065,4.966z M17.428,4.472
	                            c0.018-0.087,0.04-0.172,0.068-0.257c0.034-0.07,0.073-0.138,0.116-0.203c0.029-0.032,0.059-0.064,0.091-0.094
	                            c0.011-0.007,0.022-0.014,0.033-0.02c0.172-0.054,0.349-0.083,0.528-0.112c0.014-0.002,0.029-0.004,0.043-0.006
	                            c0.031,0.028,0.06,0.057,0.089,0.087c0.017,0.027,0.033,0.055,0.049,0.084c0.003,0.011,0.007,0.023,0.01,0.034
	                            c0.004,0.094,0.002,0.188-0.003,0.282c-0.015,0.071-0.033,0.141-0.057,0.21c-0.059,0.125-0.124,0.246-0.198,0.361
	                            c-0.025,0.027-0.051,0.052-0.078,0.077c-0.051,0.032-0.103,0.061-0.157,0.088c-0.01,0.003-0.02,0.006-0.03,0.01
	                            c-0.015,0-0.03,0-0.044-0.001c-0.088-0.02-0.174-0.045-0.26-0.075c-0.017-0.01-0.034-0.019-0.05-0.03
	                            c-0.031-0.029-0.06-0.06-0.088-0.091c-0.021-0.031-0.041-0.063-0.061-0.096c-0.003-0.011-0.006-0.022-0.008-0.033
	                            C17.419,4.617,17.422,4.545,17.428,4.472z M29.882,19.411c-0.12-0.217-0.361-0.367-0.56-0.504c-0.114-0.078-0.228-0.156-0.34-0.238
	                            c-0.269-0.216-0.519-0.454-0.791-0.666c-0.129-0.102-0.272-0.207-0.388-0.33c-0.049-0.079-0.088-0.161-0.127-0.246
	                            c-0.067-0.148-0.154-0.288-0.236-0.429c-0.221-0.376-0.462-0.741-0.672-1.127c-0.088-0.165-0.176-0.328-0.283-0.481
	                            c-0.201-0.288-0.432-0.633-0.822-0.633c-0.018,0-0.036,0.001-0.054,0.002c-0.32,0.024-0.539,0.174-0.706,0.442
	                            c-0.036,0.056-0.067,0.114-0.097,0.17c-0.092,0.176-0.165,0.359-0.241,0.542c-0.064,0.148-0.13,0.294-0.19,0.444
	                            c-0.061,0.154-0.118,0.311-0.179,0.466c-0.064,0.14-0.132,0.276-0.202,0.412c-0.048,0.094-0.093,0.19-0.147,0.28
	                            c-0.11,0.062-0.227,0.115-0.334,0.177c-0.144,0.082-0.294,0.153-0.442,0.23c-0.517,0.275-1.015,0.597-1.507,0.914
	                            c-0.121,0.077-0.217,0.181-0.283,0.299c-0.156,0.067-0.289,0.182-0.374,0.328c-0.107,0.183-0.137,0.406-0.081,0.612
	                            c0.077,0.279,0.288,0.461,0.554,0.552c0.028,0.01,0.056,0.021,0.083,0.031c0.38,0.172,0.759,0.326,1.158,0.452
	                            c0.2,0.064,0.401,0.125,0.601,0.189c0.167,0.053,0.337,0.099,0.501,0.159c0.056,0.026,0.113,0.053,0.167,0.082
	                            c0.039,0.063,0.074,0.128,0.106,0.194c0.055,0.136,0.11,0.272,0.173,0.406c0.077,0.161,0.169,0.312,0.26,0.464
	                            c0.163,0.268,0.315,0.539,0.483,0.803c0.077,0.12,0.142,0.247,0.215,0.369c0.2,0.337,0.549,0.605,0.962,0.49
	                            c0.472-0.13,0.583-0.604,0.742-0.999c0.108-0.249,0.215-0.499,0.322-0.749c-0.006,0.014-0.011,0.028-0.017,0.042
	                            c0.103-0.242,0.204-0.501,0.346-0.729c0.182-0.11,0.378-0.203,0.562-0.308c0.337-0.193,0.657-0.416,0.992-0.61
	                            c0.152-0.088,0.303-0.172,0.444-0.275c0.165-0.12,0.288-0.223,0.404-0.393C30.056,20,30.02,19.658,29.882,19.411z M27.781,20.019
	                            c-0.294,0.17-0.593,0.324-0.902,0.466c-0.079,0.037-0.161,0.065-0.234,0.112c-0.215,0.135-0.343,0.329-0.444,0.552
	                            c-0.141,0.311-0.27,0.627-0.401,0.942c-0.084-0.168-0.162-0.339-0.236-0.51c-0.102-0.258-0.192-0.522-0.316-0.769
	                            c-0.037-0.075-0.077-0.146-0.125-0.214c-0.051-0.069-0.112-0.163-0.183-0.221c-0.109-0.091-0.187-0.136-0.29-0.182
	                            c-0.17-0.074-0.34-0.151-0.515-0.213c-0.193-0.067-0.389-0.124-0.584-0.189c-0.142-0.048-0.286-0.093-0.43-0.139
	                            c0.435-0.291,0.875-0.572,1.343-0.805c0.185-0.092,0.376-0.169,0.509-0.337c0.096-0.122,0.165-0.219,0.23-0.354
	                            c0.049-0.095,0.094-0.191,0.139-0.286c0.134-0.274,0.25-0.554,0.365-0.835c0.068,0.134,0.135,0.267,0.206,0.399
	                            c0.088,0.163,0.189,0.314,0.275,0.477c0.064,0.118,0.122,0.24,0.178,0.363c0.069,0.148,0.163,0.275,0.266,0.402
	                            c0.058,0.069,0.135,0.124,0.206,0.18c0.146,0.12,0.293,0.236,0.443,0.348c0.232,0.187,0.455,0.386,0.688,0.573
	                            c0.032,0.026,0.064,0.051,0.097,0.076C27.97,19.911,27.875,19.964,27.781,20.019z M24.696,20.216
	                            c-0.015-0.007-0.031-0.012-0.046-0.019c-0.002-0.001-0.003-0.002-0.005-0.002C24.662,20.201,24.679,20.208,24.696,20.216z
	                             M19.093,21.979c-0.151-0.14-0.345-0.214-0.537-0.214c-0.128,0-0.256,0.033-0.371,0.102c-0.128-0.029-0.264-0.031-0.375,0.013
	                            c-0.498,0.198-1.024,0.461-1.383,0.874c-0.182,0.212-0.305,0.476-0.354,0.749c-0.054,0.288-0.026,0.55,0.022,0.837
	                            c0.049,0.292,0.232,0.545,0.432,0.751c0.185,0.193,0.416,0.369,0.65,0.498c0.144,0.079,0.296,0.14,0.449,0.2
	                            c0.152,0.06,0.333,0.073,0.492,0.077c0.155,0.004,0.318-0.034,0.47-0.067c0.386-0.086,0.753-0.281,1.048-0.537
	                            c0.137-0.118,0.247-0.286,0.322-0.449c0.137-0.294,0.197-0.603,0.157-0.929c-0.054-0.457-0.232-0.865-0.49-1.243
	                            C19.465,22.408,19.3,22.172,19.093,21.979z M18.569,24.056c-0.002,0.004-0.005,0.008-0.007,0.013
	                            c-0.006,0.006-0.011,0.011-0.017,0.017c-0.021,0.012-0.041,0.023-0.062,0.034c-0.105,0.035-0.211,0.066-0.319,0.091
	                            c-0.007,0-0.014,0-0.021,0.001c-0.02-0.006-0.04-0.012-0.06-0.018c-0.078-0.04-0.153-0.084-0.226-0.133
	                            c-0.056-0.05-0.111-0.1-0.163-0.153c-0.008-0.028-0.015-0.056-0.021-0.084c-0.001-0.021-0.002-0.041-0.002-0.062
	                            c0.013-0.012,0.026-0.024,0.039-0.036c0.165-0.11,0.333-0.21,0.513-0.295c0.005-0.002,0.009-0.004,0.014-0.005
	                            c0.032-0.013,0.063-0.026,0.094-0.04c0.067,0.108,0.129,0.22,0.185,0.334c0.024,0.077,0.044,0.154,0.06,0.233
	                            c0.001,0.024,0.002,0.048,0.002,0.072C18.575,24.035,18.572,24.046,18.569,24.056z" />
                            </svg>
                            <div class="meta-content">@Html.DisplayFor(modelItem => Model.Time)</div>
                        </div>
                        <div class="meta-item">
                            <?xml version="1.0" ?>
                            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 16.0156C19.2447 16.5445 20 17.2392 20 18C20 19.6568 16.4183 21 12 21C7.58172 21 4 19.6568 4 18C4 17.2392 4.75527 16.5445 6 16.0156" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><path d="M17 8.44444C17 11.5372 12 17 12 17C12 17 7 11.5372 7 8.44444C7 5.35165 9.23858 3 12 3C14.7614 3 17 5.35165 17 8.44444Z" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /><circle cx="12" cy="8" r="1" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" /></svg>
                            <div class="meta-content">
                                @Html.DisplayFor(modelItem => Model.Reach)
                            </div>
                        </div>
                        <div class="meta-item">
                            <?xml version="1.0" encoding="utf-8" ?>
                            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22 6V8.42C22 10 21 11 19.42 11H16V4.01C16 2.9 16.91 2 18.02 2C19.11 2.01 20.11 2.45 20.83 3.17C21.55 3.9 22 4.9 22 6Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M2 7V21C2 21.83 2.94 22.3 3.6 21.8L5.31 20.52C5.71 20.22 6.27 20.26 6.63 20.62L8.29 22.29C8.68 22.68 9.32 22.68 9.71 22.29L11.39 20.61C11.74 20.26 12.3 20.22 12.69 20.52L14.4 21.8C15.06 22.29 16 21.82 16 21V4C16 2.9 16.9 2 18 2H7H6C3 2 2 3.79 2 6V7Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9 13.01H12" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9 9.01001H12" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M5.99561 13H6.00459" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M5.99561 9H6.00459" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="meta-content">Somatico: @Html.DisplayFor(modelItem => Model.Somatic)</div>
                        </div>
                        <div class="meta-item">
                            <?xml version="1.0" encoding="utf-8" ?>
                            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M20,3a1,1,0,0,0,0-2H4A1,1,0,0,0,4,3H5.049c.146,1.836.743,5.75,3.194,8-2.585,2.511-3.111,7.734-3.216,10H4a1,1,0,0,0,0,2H20a1,1,0,0,0,0-2H18.973c-.105-2.264-.631-7.487-3.216-10,2.451-2.252,3.048-6.166,3.194-8Zm-6.42,7.126a1,1,0,0,0,.035,1.767c2.437,1.228,3.2,6.311,3.355,9.107H7.03c.151-2.8.918-7.879,3.355-9.107a1,1,0,0,0,.035-1.767C7.881,8.717,7.227,4.844,7.058,3h9.884C16.773,4.844,16.119,8.717,13.58,10.126ZM12,13s3,2.4,3,3.6V20H9V16.6C9,15.4,12,13,12,13Z" /></svg>

                            <div class="meta-content">@Html.DisplayFor(modelItem => Model.Duration)</div>
                        </div>
                        @if (Model.Concentration)
                        {
                            <div class="meta-item">
                                <svg fill="#000000" viewBox="0 0 64 64" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"><title /><path d="M33,2A23.99656,23.99656,0,0,0,9,25.9931L5,38h8V49H27V62H57V25.9931A23.99656,23.99656,0,0,0,33,2ZM29,7l5,4,5-4v9l-4.5,3.6V27h-1V19.6L29,16Zm-.59863,13.28613,1.39941,1.42774a6,6,0,1,0,8.39844,0l1.39941-1.42774a8,8,0,1,1-11.19726,0ZM34,37a11,11,0,0,0,8.19922-18.333l1.49023-1.334a13,13,0,1,1-19.3789,0l1.49023,1.334A11,11,0,0,0,34,37Zm0,7A18.00114,18.00114,0,0,1,23.78613,11.17676l1.13575,1.64648a16.0004,16.0004,0,1,0,18.48925.23633l1.17774-1.61719A18.0011,18.0011,0,0,1,34,44Z" /></svg>
                                <p>Concentração</p>
                            </div>
                        }
                        else
                        {
                            <p>Sem concentração</p>
                        }


                    </div>
                    <div class="description">
                        <p>
                            <strong>Material</strong>: @Html.DisplayFor(modelItem => Model.Material)
                        </p>
                            @Html.DisplayFor(modelItem => Model.Description)
                    </div>
                </div>
            </div>
    </div>


</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>

<script>
    function createFavoriteSpell(spellId) {
        var userId = sessionStorage.getItem("userId");
        $.ajax({
            type: "POST",
            url: '/FavoriteSpells/Create',
            data: {
                SpellId: spellId,
                UserId: userId // Adjust this line to get the current user ID
            },
            success: function (response) {
                alert('Spell added to favorites successfully!');
            },
            error: function (error) {
                console.error('Error adding spell to favorites:', error);
                if (error.responseJSON && error.responseJSON.message) {
                    alert(error.responseJSON.message);
                } else {
                    alert('An error occurred while adding the spell to favorites.');
                }
            }
        });
    }
</script>
